{% extends "shared/_error.html" %}
{% block body %}
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form action="/add" method="post">
        Name:<input name="name" type="text" required></input><br>
        Router IP/Hostname:<input name="router_ip" type="text" required></input><br>
        Username to Router:<input name="username" type="text" required></input><br>
        Password to Router:<input name="password" type="text" required></input><br>
        <input type="submit" value="Submit"></input>
    </form>
{% endblock %}