{% extends "shared/_layout.html" %}
{% block title %}Backup Files{% endblock %}
{% block main_content %}
    <div class="files">
        <div class="row">
            {% for file in files %}
            {% if '.rsc' in file %}
            <div class="col-6">
                <a href="/backups/{{ backups }}/{{ file }}" class="btn btn-outline-dark btn-sm">{{ file }}</a>
            </div>
            {% endif %}
            {% if '.backup' in file %}
            <div class="col -6">
                <a href="/backups/{{ backups }}/{{ file }}" class="btn btn-outline-dark btn-sm">{{ file }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}