{% extends "shared/_layout.html" %}
{% block title %}Update Router{% endblock %}
{% block main_content %}
    <div class="router-form">
        <form action="/update" method="post">
            <h4>Which router do you want to update?</h4>
            <div class="select-router">
                 <select class="form-control" name="selected router">
                    {% for r in routers[1:] %}
                        <option value= "{{r.router_name}}">{{r.router_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <input class="form-control" name="name" type="text" placeholder="Name"/>
            <input class="form-control" name="router_ip" type="text" placeholder="Router IP"/>
            <input class="form-control" name="username" type="text" placeholder="Username"/>
            <button type="button" class="btn btn-light btn-group-sm" style="float: right; margin-top: 10px;" onclick="showPassword()">
                <img src="/static/img/icons/lock.svg" width="20" height="20" title="Hide_Pwd">
            </button>
            <div style="overflow: hidden; padding-right: .65em;">
                <input style="overflow: hidden; padding-right: .65em;" class="form-control" id="password" name="password" type="password" placeholder="Password"/>
            </div>
            <div class="form-check">
                <input name="skipped" type="checkbox" id="skipped">
                <label for="skipped" class="form-check-label">Would you like to skip this router in the backups?</label>
            </div>

            <div class="actions">
                <button type="button" class="btn btn-outline-success btn-group-sm" data-toggle="modal" data-target="#updateRouterModal">Update Router</button>
                <a href="/" class="btn btn-outline-danger btn-group-sm">Cancel</a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="updateRouterModal" tabindex="-1" role="dialog" aria-labelledby="updateRouterModalModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateRouterModalLabel">Remove Router</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to update this router?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success">Update Router</button>
                  </div>
                </div>
              </div>
            </div>
        </form>
    </div>

{% endblock %}

