
body {
    background-color: black;
    color: white;
  }

.backup-output {
    background-color: black;
    color: white;
    max-width: 1400px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px 40px 20px 20px;
}

.router-stats {
    padding: 10px 0;
    background-color: #ececec;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    margin-bottom: 30px;
}

.router-stats .stat {
    display: inline-block;
    min-width: 170px;
    padding: 10px;
    font-size: 16px;
    color: #003d61;
}

.router-info{
    background-color: white;
    max-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px 40px 20px 20px;
}

.router-info h4{
    color: black;
    text-align: center;
    padding-bottom: 30px;
}
.router-info .info{
    text-align: center;
    color: black;
}
.router-form input {
    margin: 10px;
  }

.router-form form {
    background-color: white;
    max-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px 40px 20px 20px;
}

.router-form h4 {
  color: black;
  text-align: center;
}

.router-form .actions {
  text-align: center;
}

.router-form .select-router {
  margin-left: 10px;
  padding-bottom: 10px;
}

.files {
    background-color: white;
    max-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px 40px 20px 20px;
}
.files a {
    padding: 2px;
    margin-bottom: 4px;
}

  /*.routertable {*/
  /*!*!*  background-color: white;*!*!*/
  /*!*  margin-left: auto;*!*/
  /*!*  margin-right: auto;*!*/
  /*!*  margin-bottom: 60px;*!*/
  /*!*  border-radius: 10px;*!*/
  /*  padding: 20px 20px 10px 20px;*/
  /*!*!*  color: black;*!*!*/
  /*}*/

  /*.routertable td, th {*/
  /*  padding: 5px;*/
  /*  text-align: left;*/
  /*}*/

  /*.routertable th {*/
  /*  padding-top: 12px;*/
  /*  padding-bottom: 12px;*/
  /*  cursor: pointer;*/
  /*}*/

  /*.routertable a {*/
  /*  color: black;*/
  /*}*/

  /*.routertable .actions a {*/
  /*  color: white;*/
  /*}*/

  .error-msg {
    color: #b30000;
}