<!DOCTYPE html>
<html>
<head>
    <title>Mikrotik Backup</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<div>
    <h2 class="index-title">Mikrotik Backup</h2>
</div>

<div class="topnav">
    <a href="/">Routers</a>
    <a href="/add">Add Router</a>
    <a href="/update">Update Router</a>
    <a href="/remove">Remove Router</a>
    <a href="winbox:">Launch Winbox</a>
</div>

<div class="main_content">
    {% block main_content %}{% endblock %}
</div>

{% block additional_js %}{% endblock %}
</html>