
body {
    background-color: black;
    color: white;
  }

.router-form input {
    margin: 10px;
  }

.router-form form {
    background-color: white;
    max-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px 40px 20px 20px;
}

.router-form h4 {
  color: black;
  text-align: center;
}

.router-form .actions {
  text-align: center;
}

.router-form .select-router {
  margin-left: 10px;
  padding-bottom: 10px;
}

.files {
    background-color: white;
    max-width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px 40px 20px 20px;
}
.files a {
    padding: 2px;
    margin-bottom: 4px;
}

  .routertable {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    color: black;
  }

  .routertable td, th {
    padding: 5px;
    text-align: left;
  }

  .routertable th {
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
  }

  .routertable a {
    color: black;
  }

  .routertable .actions a {
    color: white;
  }

  /*.tooltip {*/
  /*  position: relative;*/

  /*  border-bottom: 1px dotted black;*/
  /*}*/
  
  /*.tooltip .tooltiptext {*/
  /*  visibility: hidden;*/
  /*  width: 125px;*/
  /*  background-color: #555;*/
  /*  color: #fff;*/
  /*  text-align: center;*/
  /*  border-radius: 6px;*/
  /*  padding: 5px 0;*/
  /*  position: absolute;*/
  /*  z-index: 1;*/
  /*  bottom: 125%;*/
  /*  left: 50%;*/
  /*  margin-left: -60px;*/
  /*  opacity: 0;*/
  /*  transition: opacity 0.3s;*/
  /*}*/
  
  /*.tooltip .tooltiptext::after {*/
  /*  content: "";*/
  /*  position: absolute;*/
  /*  top: 100%;*/
  /*  left: 50%;*/
  /*  margin-left: -5px;*/
  /*  border-width: 5px;*/
  /*  border-style: solid;*/
  /*  border-color: #555 transparent transparent transparent;*/
  /*}*/
  
  /*.tooltip:hover .tooltiptext {*/
  /*  visibility: visible;*/
  /*  opacity: 1;*/
  /*}*/
