{% extends "shared/_layout.html" %}
{% block title %}Mikrotik Backup | Router Table{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="/static/css/router_table.css">
{% endblock %}
{% block main_content %}

<div class="router-stats">
    <div class="stat">{{ "{:,}".format(router_count) }} routers</div>
    <div class="stat">{{ "{:,}".format(backup_complete_count) }} Backup Complete</div>
    <div class="stat">{{ "{:,}".format(config_complete_count) }} Config Complete</div>
    <div class="stat">{{ "{:,}".format(backup_failed_count) }} Backup Failed</div>
    <div class="stat">{{ "{:,}".format(config_failed_count) }} Config Failed</div>
    <div class="stat">{{ "{:,}".format(ignore_count) }} Skipped</div>
    <div class="stat">{{ "{:,}".format(unknown_count) }} Status Unknown</div>
</div>

<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h2>Router <b>Table</b></h2>
            </div>
{#            <div class="col-sm-7">#}
{#                <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Add New User</span></a>#}
{#                        <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>#}
{#            </div>#}
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">IP Address</th>
                <th scope="col">Password</th>
                <th scope="col">Backup Status</th>
                <th scope="col">Config Status</th>
                <th scope="col">Last Attempted Backup</th>
                <th scope="col">Router OS Installed</th>
{#                <th href="/run_backup">#}
{#                    <div class="actions">#}
{#                        <a href="/run_backup" class="btn btn-success btn-sm">Run Full Backup</a>#}
{#                    </div>#}
{#                </th>#}
            </tr>
        <thead>
        <tbody>
        {% for r in routers %}
            <tr>
                <td data-label="{{ r.router_name }}">{{ r.router_name }}</td>
                <td data-label="{{ r.router_ip }}">{{ r.router_ip }}</td>
                <td data-label="{{ r.password }}">{{ r.password }}</td>

                {% if r.backup_status == "Backup Complete" %}
                <td data-label="{{ r.backup_status }}">
                    <img data-toggle="tooltip" data-placement="top" title="{{ r.backup_status }}" src="/static/img/icons8-filled-circle-96-green.png" width="20" height="20">
                </td>
                {% else %}
                    <td data-label="{{ r.backup_status }}">
                    <img data-toggle="tooltip" data-placement="top" title="{{ r.backup_status }}" src="/static/img/icons8-filled-circle-96-red.png" width="20" height="20">
                </td>
                {% endif %}

                {% if r.config_status == "Config Complete" %}
                <td data-label="{{ r.config_status }}">
                    <img data-toggle="tooltip" data-placement="top" title="{{ r.config_status }}" src="/static/img/icons8-filled-circle-96-green.png" width="20" height="20">
                </td>
                {% else %}
                    <td data-label="{{ r.config_status }}">
                    <img data-toggle="tooltip" data-placement="top" title="{{ r.config_status }}" src="/static/img/icons8-filled-circle-96-red.png" width="20" height="20">
                </td>
                {% endif %}

                <td data-label="{{ r.last_attempted }}">{{ r.last_attempted }}</td>
                <td data-label="{{ r.router_os_version }}">
                <div class="actions">
                    <button type="button" class="btn btn-dark btn-group-sm" data-toggle="modal" data-target="#{{ r.router_name.replace(' ', '') }}InfoModal">{{ r.router_os_version }}</button>
                </div>
                <!-- Router Info UserModal -->
                <div class="modal fade" id="{{ r.router_name.replace(' ', '') }}InfoModal" tabindex="-1" role="dialog" aria-labelledby="{{ r.router_name.replace(' ', '') }}InfoModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="{{ r.router_name.replace(' ', '') }}InfoModal"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="router-info">
                          <div class="info">
                              <h4>{{ r.router_name }}</h4>
                              <p>Uptime: {{ r.uptime }}</p>
                              <p>Router OS: {{ r.router_os_version }}</p>
                              <p>Free Memory: {{ r.free_memory }}</p>
                              <p>Total Memory: {{ r.total_memory }}</p>
                              <p>CPU Load: {{ r.cpu_load }}</p>
                              <p>Free HDD Space: {{ r.free_hdd_space }}</p>
                              <p>Total HDD Space: {{ r.total_hdd_space }}</p>
                              <p>Bad Blocks: {{ r.bad_blocks }}</p>
                              <p>Board Name: {{ r.board_name }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                </td>
                <td data-label="Download Backups">
                    <div class="actions">
                        <a href="/MikrotikBackup/backups/{{ r.router_name }}.zip" class="btn btn-success btn-sm">Download Backups</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
