{% extends "shared/_layout.html" %}
{% block main_content %}

<div class="routertable">
    <table id="routertable"> 
        <tr> 
            <th class="tooltip" onclick="sortTable(0)">Name 
                <span class="tooltiptext">Click to Sort A-Z</span>
            </th> 
            <th class="tooltip" onclick="sortTable(1)">IP Address
                <span class="tooltiptext">Click to Sort by First Number</span>
            </th>
            <th>Password</th>
            <!--<th>Show Password</th>--> 
            <th class="tooltip" onclick="sortTable(4)">Backup Status
                <span class="tooltiptext">Click to Sort
            </th>
            <th class="tooltip" onclick="sortTable(4)">Config Status
              <span class="tooltiptext">Click to Sort
            </th>
            <th>Last Attempted Backup</th>
            <th>Router OS Installed</th>
        </tr> 
        {% for k, v in routers.items() %}
            <tr> 
                <td>{{ k }}</td> 
                <td>{{ v[0] }}</td>
                <td>{{ v[2] }}</td>
                <!--<td><input type="checkbox"></td> -->
                <td>{{ v[3] }}</td>
                <td>{{ v[4] }}</td>
                <td>{{ v[5] }}</td>
                <td>
                  <a href="/router_info/{{ k }}.txt">
                      <div style="color:white">
                          {{ v[6] }}
                      </div>
                  </a>
              </td>
                <td>
                    <a href="/backups/{{ k }}">
                        <div style="color:white">
                            View Backups
                        </div>
                    </a>
                </td>
            </tr>
        {% endfor %} 
    </table>
</div>

<script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("routertable");
      switching = true;
      //Set the sorting direction to ascending:
      dir = "asc"; 
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /*check if the two rows should switch place,
          based on the direction, asc or desc:*/
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          //Each time a switch is done, increase this count by 1:
          switchcount ++;      
        } else {
          /*If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again.*/
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
</script>

<script>
    function showPassword() {
        var x = document.getElementById("id");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
</script>
{% endblock %}