.index-title {
    background-color: black;
    color:white;
  }

  .topnav {
    overflow: hidden;
    background-color: black;
    padding: 8px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  body {
    background-color: black;
    color: white;
  }

  .routertable {
    background-color: black;
    color: white;
    border-collapse: collapse;
    width: 100%;
  }

  .routertable td, th {
    border: 1px solid rgb(110, 110, 110);
    padding: 16px;
    text-align: left;
  }

  .routertable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  .routertable tr:nth-child(even){background-color: #444444;}
  .routertable tr:hover {background-color: rgb(129, 129, 129);}

  .tooltip {
    position: relative;
    
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }