<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta http-equiv="refresh" content="60">
</head>

<div>
    <h2 class="dashboard-title">Mikrotik Backup</h2>
</div>

<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/add">Add Router</a>
    <a href="/remove">Remove Router</a>
</div>

    <form action="/" method="post">
        Name:<input name="name" type="text"></input><br>
        Router IP:<input name="router_ip" type="text"></input><br>
        Username to Router:<input name="username" type="text"></input><br>
        Password to Router:<input name="password" type="text"></input><br>
        <input type="submit" value="Submit"></input>
    </form>
</html>