<!DOCTYPE html>
<html>
<head>
    <title>Mikrotik Backup</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<div>
    <h2 class="index-title">Mikrotik Backup</h2>
</div>

<div class="topnav">
    <a class="active" href="/">Routers</a>
    <a href="/add">Add Router</a>
    <a href="/update">Update Router</a>
    <a href="/remove">Remove Router</a>
    <a href="/run-backup">Run Backup</a>
    <a href="winbox:">Launch Winbox</a>
</div>

<div class="backuptable">
    <table>
        <tr>
            <th>Backups</th>
        </tr>
        {% for file in files %}
            <td><a href="/backups/{{ backups }}/{{ file }}" style="color:white">{{ file }}</a></td>
        {% endfor %}        
    </table>
</div>

<ul>
    {% for file in files %}
        <li><a href="/backups/{{ backups }}/{{ file }}" style="color:white">{{ file }}</a></li>
    {% endfor %}
</ul>