<!DOCTYPE html>
<html>
<head>
    <title>Mikrotik Backup</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<div>
    <h2 class="index-title">Mikrotik Backup</h2>
</div>

<div class="topnav">
    <a class="active" href="/">Routers</a>
    <a href="/add">Add Router</a>
    <a href="/update">Update Router</a>
    <a href="/remove">Remove Router</a>
    <a href="/run-backup">Run Backup</a>
    <a href="winbox:">Launch Winbox</a>
</div>

<div class="routertable">
    <table> 
        <tr> 
            <th>Name</th> 
            <th>IP Address</th>
            <th>Username</th>
            <th>Password</th>
            <th>Status</th>
        </tr> 
        {% for k, v in routers.items() %}
            <tr> 
                <td>{{ k }}</td> 
                <td>{{ v[0] }}</td>
                <td>{{ v[1] }}</td>
                <td>{{ v[2] }}</td> 
                <td>{{ v[3] }}</td>
                <td>
                    <a href="/backups/{{ k }}">
                        <div style="color:white">
                            View Backups
                        </div>
                    </a>
                </td>
            </tr>
        {% endfor %} 
    </table>

</div>