<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta http-equiv="refresh" content="60">
</head>

<div>
    <h2 class="dashboard-title">Mikrotik Backup</h2>
</div>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/add">Add Router</a>
    <a class="active" href="/remove">Remove Router</a>
</div>

<select name= routers method="GET" action="/">
    {% for router in routers %}
    <option value= "{{router}}" SELECTED>{{router}}</option>"
    {% endfor %}
</select>