<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<div>
    <h2 class="dashboard-title">Mikrotik Backup</h2>
</div>

<div class="topnav">
    <a href="/">Routers</a>
    <a href="/add">Add Router</a>
    <a href="/update">Update Router</a>
    <a class="active" href="/remove">Remove Router</a>
</div>

<form action="/remove" method="POST">
    <select name="selected router">
        <option value="{{routers[0]}}" selected>{{routers[0]}}</option>
        {% for router in routers[1:] %}
            <option value= "{{router}}">{{router}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Remove Router"></input>
</form>

</html>