<!DOCTYPE html>
<html>
<head>
    <title>Mikrotik Backup</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<div>
    <h2 class="dashboard-title">Mikrotik Backup</h2>
</div>

<div class="topnav">
    <a href="/">Routers</a>
    <a href="/add">Add Router</a>
    <a class="active" href="/update">Update Router</a>
    <a href="/remove">Remove Router</a>
</div>

<br>Which router do you want to update?<br>
<form action="/update" method="post">
    <select name="selected router">
        <option value="{{routers[0]}}" selected>{{routers[0]}}</option>
        {% for router in routers[1:] %}
            <option value= "{{router}}">{{router}}</option>
        {% endfor %}
    </select><br>

    Name:<input name="name" type="text"></input><br>
    Router IP:<input name="router_ip" type="text"></input><br>
    Username to Router:<input name="username" type="text"></input><br>
    Password to Router:<input name="password" type="text"></input><br>
    <input type="submit" value="Submit"></input>
</form>

</html>